:host table {
    margin-top: 10px;
    margin-bottom: 10px;
    border-spacing: 0;
}

th.table-header {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-style: solid;
    border-color: #ccc;
    padding: 5px 10px;
}

td.table-column {
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-style: solid;
    border-color: #ccc;
    padding: 5px 10px;
}

th.table-header:first-of-type {
    border-left-width: 1px;
}

td.table-column:first-of-type {
    border-left-width: 1px;
}

tr.table-row-even {
    background-color: #e2e2e2;
}

