<mat-toolbar color="primary">
  <span>Angular Exercice</span>
  <button mat-flat-button color="primary" routerLink="/students">Students</button>
  <button mat-flat-button color="primary" routerLink="/courses">Courses</button>
  <button mat-flat-button color="primary" routerLink="/projects">Projects</button>
  <button mat-flat-button color="primary" routerLink="/student-by-course">Students by Courses</button>
  <button mat-flat-button color="primary" routerLink="/student-by-project">Students by Projects</button>
</mat-toolbar>

<router-outlet></router-outlet>